


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "type/css" href= "{{url_for('static',filename='style.css')}}">
    <title>Document</title>
</head>
<body>
    <nav>
    <a href="{{url_for('my_view.index')}}">Home</a>
    <a href="{{url_for('my_view.page2')}}">Page 2</a>
    <a href="{{url_for('my_view.page3')}}">Page 3</a>
    <a href="{{url_for('my_view.page4')}}">Page 4</a>
</nav>
    


{% block content %}


{% endblock %}
</body>
</html>